header{
    background: #ffffff;
    padding: 20px 0px; /*espaço ao redor do elemento dentro das bordas*/
    transition: 0.5s;
}

#box{
    position: relative;/*posição de referência do ponto inicial na caixa*/
    width: 960px;
    margin: 0 auto;
}

#box h1 img{
    width: 15em;
}

body{
    font-family: 'Open Sans', sans-serif; /*Fonte txt*/
}

nav ul{
    position: absolute; /*initial point reference position with full page*/
    top: 110px; /*distance of top*/
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /*Extern space*/
    
}

nav a:hover{ /*change behavior when the mouse be above*/
    color: #990011;
    text-decoration: underline;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;/*default link design off*/
    font-size: 22px;
}

#banner{
    width: 100%;
    display: block;
    margin: auto; 
}


main{
    background: #FEFEFE;
}

.main{
    margin: 30px 2em;

}

.title_main{
    text-align: center;
    font-size: 2em; /* (em) is size proportional as pixels. Here double size*/
    clear: left; /*clear the float of imgs/cut*/
    margin: 15px 0;

}

#cut{
    width: 200px;
    float: left;/*go up and create a shadow*/
    margin: 0 10px 0px 0px;/*top right bottom left*/
}

.main p{
    margin: 1em 0;
}

.main strong{
    font-weight: bolder;
}

.local{
    background: linear-gradient(#FEFEFE,#666666)
}

.local h2{
    text-align: center;
    margin: 2em 0 10px 0;
    font-size: 2em; /* (em) is size proportional as pixels. Here double size*/
}

.local > p{ /*every p that is a direct child of the principal, into of block*/
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);/*channel alpha for change opacity of text*/
    text-shadow: 2px 2px 2px #777777;
}

